{% extends 'base/base.html' %}

{% block header %}
{% include 'include/navbar.html' %}
{% endblock%}

{% block content %}
<div id="iniciotwo" class="main">
	<div class="row">
		{% if ordenes %}
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			{% for orden in ordenes %}
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="heading{{orden.pk}}">
			      		<h4 class="panel-title">
			        		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{orden.pk}}" aria-expanded="false" aria-controls="collapse{{orden.pk}}">{{orden}} - <strong>{{orden.fecha|date:"D d M Y H:i"}}</strong></a></h4>
			    	</div>
			    	<div id="collapse{{orden.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{orden.pk}}">
			      		<div class="panel-body">
			      			<div class="row">
			      				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			      					<table class="table table-hover table-bordered">
										<thead>
											<tr>
												<th class="centro">Detalle</th>
												<th class="centro">Valor</th>
											</tr>
										</thead>
										<tbody class="table-striped">
											<td class="centro">Cliente</td>
											<td class="centro">{{orden.cliente}}</td>
										</tbody>
										<tbody class="table-striped">
											<td class="centro">Pais</td>
											<td class="centro">{{orden.ciudad.pais}}</td>
										</tbody>
										<tbody class="table-striped">
											<td class="centro">Ciudad</td>
											<td class="centro">{{orden.ciudad}}</td>
										</tbody>
										<tbody class="table-striped">
											<td class="centro">Direcci&oacute;n</td>
											<td class="centro">{{orden.direccion}}</td>
										</tbody>
									</table>
									{% if orden.detalleordenproducto_set.all %}
						      			<table class="table table-hover table-bordered">
											<thead>
												<tr>
													<th class="centro">Producto</th>
													<th class="centro">Cantidad</th>
													<th class="centro">Valor Unidad</th>
													<th class="centro">Valor</th>
												</tr>
											</thead>
						      				{% for detalle in orden.detalleordenproducto_set.all %}
							      				<tbody class="table-striped">
													<td class="centro">{{detalle.producto}}</td>
													<td class="centro">{{detalle.cantidad}}</td>
													<td class="centro">{{detalle.producto.precio}}</td>
													<td class="centro">{{detalle.get_valor}}</td>
												</tbody>
						      				{% endfor %}
						      			</table>
					      			{% endif %}
					      			{% if orden.servicios.all %}
						      			<table class="table table-hover table-bordered">
											<thead>
												<tr>
													<th class="centro">Servicio</th>
													<th class="centro">Valor</th>
													<th class="centro">Extra</th>
													<th class="centro">Valor Total</th>
												</tr>
											</thead>
						      				{% for servicio in orden.servicios.all %}
							      				<tbody class="table-striped">
													<td class="centro">{{servicio}}</td>
													<td class="centro">{{servicio.costo}}</td>
													<td class="centro">{{servicio.extra}}</td>
													<td class="centro">{{servicio.get_valor}}</td>
												</tbody>
						      				{% endfor %}
						      			</table>
					      			{% endif %}
			      				</div>
			      				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			      					{% if orden.detalleordenproducto_set.all or orden.servicios.all %}
			      						<p class="centro"><a class="btn btn-success" href="{% url 'bien:orden_factura_imprimir' orden.pk %}" role="button">Factura</a></p>
			      					{% else %}
			      						<p class="centro"><a class="btn btn-success disabled" href="{% url 'bien:orden_factura_imprimir' orden.pk %}" role="button">Factura</a></p>
			      					{% endif %}
			      					<p class="centro"><a class="btn btn-primary text-blue fondo-transp" href="{% url 'bien:orden_update' orden.pk %}" role="button">Editar</a></p>
			      					<p class="centro"><a class="btn btn-danger dropdown-toggle" href="{% url 'bien:orden_delete' orden.pk %}" role="button">Eliminar</a></p>
			      				</div>
			      			</div>
			      		</div>
			    	</div>
			  	</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		{% else %}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jumbotron">
				<h1 class="centro">No hay ordenes!</h1>
				<p class="centro">Agrega una orden</p>
				<p class="centro"><a class="btn btn-primary btn-lg" href="{% url 'bien:orden_create' %}" role="button">Crear Orden</a></p>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}